body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    margin-bottom: 30px;
}

#home {
    background-image: url('background.jpg'); /* Replace with an appropriate background image */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#home h1 {
    font-size: 3.5rem;
}

.profile-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 20px; /* Adds space after the image */

}


#home p {
    font-size: 1.5rem;
}

#skills .row {
    margin-top: 20px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.more-projects-link {
    display: block;
    margin-top: 20px; /* Adds space above the link */
    font-size: 16px;
    color: #007bff; /* Bootstrap's primary blue color */
    text-decoration: none;
}

.more-projects-link:hover {
    text-decoration: underline;
}

/* Style for section headings with a box */
.section-heading {
    font-size: 24px; /* Adjust font size */
    font-weight: bold; /* Make the font bold */
    color: #333; /* Dark gray color for text */
    padding: 10px 20px; /* Padding inside the box */
    border: 2px solid #007bff; /* Blue border around the heading */
    border-radius: 8px; /* Rounded corners for the border */
    background-color: #f1f8ff; /* Light background color inside the box */
    margin-top: 40px; /* Space above the heading */
    margin-bottom: 20px; /* Space below the heading */
}

